USE [master]
GO
/****** Object:  Database [social_media_project]    Script Date: 4/12/2026 10:35:01 PM ******/
CREATE DATABASE [social_media_project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'social_media_project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\social_media_project.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'social_media_project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\social_media_project_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [social_media_project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [social_media_project]
GO
/****** Object:  Table [dbo].[health_wellbeing]    Script Date: 4/12/2026 10:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[health_wellbeing](
	[user_id] [int] NOT NULL,
	[stress_level] [varchar](50) NULL,
	[sleep_hours] [float] NULL,
	[screen_time_before_sleep] [float] NULL,
	[days_feeling_burnout_per_month] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lifestyle_habits]    Script Date: 4/12/2026 10:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lifestyle_habits](
	[user_id] [int] NOT NULL,
	[breaks_during_work] [int] NULL,
	[uses_focus_apps] [varchar](50) NULL,
	[has_digital_wellbeing_enabled] [varchar](50) NULL,
	[coffee_consumption_per_day] [float] NULL,
	[weekly_offline_hours] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[raw_data]    Script Date: 4/12/2026 10:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[raw_data](
	[age] [int] NULL,
	[gender] [varchar](20) NULL,
	[job_type] [varchar](50) NULL,
	[daily_social_media_time] [float] NULL,
	[social_platform_preference] [varchar](50) NULL,
	[number_of_notifications] [int] NULL,
	[work_hours_per_day] [float] NULL,
	[perceived_productivity_score] [float] NULL,
	[actual_productivity_score] [float] NULL,
	[stress_level] [varchar](20) NULL,
	[sleep_hours] [float] NULL,
	[screen_time_before_sleep] [float] NULL,
	[breaks_during_work] [int] NULL,
	[uses_focus_apps] [varchar](20) NULL,
	[has_digital_wellbeing_enabled] [varchar](20) NULL,
	[coffee_consumption_per_day] [float] NULL,
	[days_feeling_burnout_per_month] [int] NULL,
	[weekly_offline_hours] [float] NULL,
	[job_satisfaction_score] [float] NULL,
	[user_id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[social_media_usage]    Script Date: 4/12/2026 10:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[social_media_usage](
	[user_id] [int] NOT NULL,
	[daily_social_media_time] [float] NULL,
	[social_platform_preference] [varchar](50) NULL,
	[number_of_notifications] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/12/2026 10:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] NOT NULL,
	[age] [int] NULL,
	[gender] [varchar](20) NULL,
	[job_type] [varchar](20) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[work_productivity]    Script Date: 4/12/2026 10:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[work_productivity](
	[user_id] [int] NOT NULL,
	[work_hours_per_day] [float] NULL,
	[perceived_productivity_score] [float] NULL,
	[actual_productivity_score] [float] NULL,
	[job_satisfaction_score] [float] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[health_wellbeing]  WITH CHECK ADD  CONSTRAINT [FK_health_wellbeing_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[health_wellbeing] CHECK CONSTRAINT [FK_health_wellbeing_users]
GO
ALTER TABLE [dbo].[lifestyle_habits]  WITH CHECK ADD  CONSTRAINT [FK_lifestyle_habits_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[lifestyle_habits] CHECK CONSTRAINT [FK_lifestyle_habits_users]
GO
ALTER TABLE [dbo].[social_media_usage]  WITH CHECK ADD  CONSTRAINT [FK_social_media_usage_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[social_media_usage] CHECK CONSTRAINT [FK_social_media_usage_users]
GO
ALTER TABLE [dbo].[work_productivity]  WITH CHECK ADD  CONSTRAINT [FK_work_productivity_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[work_productivity] CHECK CONSTRAINT [FK_work_productivity_users]
GO
USE [master]
GO
